<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Garment Showcase</title>
    <link rel="stylesheet" href="/css/ridex_dark_theme.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    
</head>
<body>
    <%- include('partials/navbar') %>
<div class="form-container">
    <div class="form-header">
        <h1>Register</h1>
    </div>
 <div class="register-form">
    <form id="registerForm">
        <h3>Username:</h3>
        <input type="text" name="username" placeholder="Full Name" required><br>
        <h3>Email:</h3>
        <input type="email" name="email" placeholder="Email" required><br>
        <h3>Password:</h3>
        <input type="password" name="password" placeholder="Password" required><br>
        <h3>Address:</h3>
        <input type="text" name="address" placeholder="Detailed Address" required>
        <button type="submit">Register</button>
        <div id="registerError" style="color: red;"></div>
    </form>
 </div>
</div>

<script src="/js/auth.js"></script>
</body>
</html>
        
